<html>
	<body>

			<!-- Header -->
			<header id="header">
				<a class="logo" href="../index.html">ENVIROinformatics</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="../index.html">Home</a></li>
					<li><a href="../pages/codebaseblog.html">Recent Blog</a></li>
					<li><a href="../pages/current.html">Current Projects</a></li>
                    <li><a href="../pages/codebaseblog.html">Code Base</a></li>
                    <li><a href="../pages/researchnetwork.html">Research Network</a></li>
                    <li><a href="../pages/citeandref.html">Citations</a></li>
                    <li><a href="../pages/contact.html">Contact</a></li>
<!--                    <li><a href="current.html"></a></li>-->
				</ul>
			</nav>
        
        <!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
    </body>
</html>