<html>
	<body>

			<!-- Header -->
			<header id="header">
				<a class="logo" href="../index.html">ENVIROinformatics</a>
				<nav>
					<a href="#menu">Menu</a>
<!--                    <a href="#blog">Blog</a>-->
				</nav>
			</header>

<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="../index.html">Home</a></li>
					<li><a href="../pages/codebaseblog.html">Recent Blogs</a></li>
                    <li><a href="../pages/blogentries/archive/archivelist.html">Blog Archive</a></li>
					<li><a href="../pages/current.html">Current Projects</a></li>
                    <li><a href="../pages/codebaseblog.html">Code Base</a></li>
                    <li><a href="../pages/researchnetwork.html">Research Network</a></li>
                    <li><a href="../pages/citeandref.html">Citations</a></li>
                    <li><a href="../pages/contact.html">Contact</a></li>
<!--                    <li><a href="current.html"></a></li>-->
				</ul>
			</nav>
        
 <!-- Nav -->
<!--
			<nav id="blog">
				<ul class="links">
					<li><a href="../index.html">2020.08.15 building an email filter agent</a></li>
					<li><a href="../pages/codebaseblog.html">2020.09.15 quick sways to swap gene.symbol </a></li>
					<li><a href="../pages/current.html">2020.10.01 lets review stats</a></li>
                    <li><a href="../pages/codebaseblog.html">2020.10.15 lets source a directory</a></li>
                    <li><a href="../pages/contact.html">Archives</a></li>
				</ul>
			</nav>
-->
        
        <!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
    </body>
</html>